.contact {
  margin-top: 3rem;

  h1::first-letter {
    color: #de03a9;
  }

  p {
    max-width: 55rem;
    margin: 0.5rem 0;
  }

  p a {
    color: #de03a9;
  }

  p a:hover {
    text-decoration: underline;
  }

  hr {
    width: 100%;
  }

  form {
    padding: 1rem;
    width: 100%;

    input,
    textarea {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.5em;
      color: #333;
      font-size: 1rem;
      outline-color: #de03a9;
      border: solid 1px #333;
      border-radius: 5px;
    }

    textarea {
      min-height: 7em;
      max-width: 100%;
      min-width: 100%;
    }

    input[type="submit"] {
      border: none;
      text-align: center;
      min-height: 3rem;
      background-color: #de03a9;
      transition: all 0.3s ease;
      border-radius: 5px;
      color: #fff;
    }

    input[type="submit"]:hover {
      cursor: pointer;
    }

    span {
      font-size: 0.8em;
      padding: 0.2rem;
      color: red;
      display: inline-block;
      transform: translateY(-10px);
    }
  }
}
