.home {
  h1,
  h2 {
    margin-bottom: 1rem;
  }
  .tag-line {
    font-size: 1.728rem;
    line-height: 1.2;
  }
  p {
    margin: 1rem 0;
  }

  .section-hr {
    height: 3px;
    background-color: #4a4a4a;
    margin: 2rem 0;
  }
}
